<ion-header>
  <ion-toolbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Todo List</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="showAddTask()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list padding-top="40px">
    <ion-item *ngFor="let task of tasks" (click)="checkTask(task)">
      <ion-label>{{task.title}}</ion-label>
      <ion-checkbox [(ngModel)]="task.isDone"></ion-checkbox>
      <h2></h2>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="tasks.length === 0">
    No Task Added Yet
  </ion-item>

  <ion-item no-lines>
    <button ion-button block color="danger" (click)="saveChanges()">Save changes</button>
  </ion-item>

</ion-content>
